
body{
    margin: 0;
    padding: 0;
    background-color: #EEF1F8;
}

h1 {
    /* font-family: 'fav-Font'; */
    font-family: 'Josefin Sans', sans-serif;
    color: #1D62FC;
    margin-left: 3px;
}

.icons {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.iGrey {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 15px;
    background: #ededed;
    box-shadow: 5px 5px 10px #c2c2c2, -5px -5px 10px #ffffff;
}

.iconGrey {
    height: 15px;
    filter: invert(40%);
}

.iconWhite {
    height: 15px;
    filter: invert(100%);
}

.iWhite {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 15px;
    background: #1D62FC;
    box-shadow: 5px 5px 10px #c2c2c2, -5px -5px 10px #ffffff;
}

.container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 5px 5px 18px #757575, -5px -5px 18px #EBECF1;
}

select {
    height: 45px;
    width: 102%;
    border: hidden;
    background-color: #F2F2F2;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #757575;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
}

.inp {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    height: 20px;
    width: 88%;
    border: hidden;
    background-color: #F2F2F2;
    color: #757575;
}

.button {
    padding: 12px 20px;
    background-color: #1D62FC;
    border: hidden;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 101%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}

#naration{
    text-transform: capitalize;
}

#warn{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-left: 5px;
    margin-top: -8px;
    color: red;
    font-size: 14px;
}

.footer{
    font-family: 'Open Sans', sans-serif;
    color: #757575;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
  }
  
  .heart{
    color: red;
    font-size: 15px;
  }
  
  .footername {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #1D62FC;
    text-decoration: none;
  }
  
  